@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  .btn-disabled {
    background-color: #E0E0E0 !important;
    color: #9E9E9E !important;
    cursor: auto;
  }
}


body,
html {
  height: 100%;
  font-size: 62, 5%;
}